body{
  font-family:"Cormorant Garamond";
  color:rgb(65, 126, 218);
  background-color: rgba(244,222,208,255);
}



h2 {
  color: #231302;
  text-align:center;
  font-size: 50px
}

i2 {
  color: black;
  font-size: 50px
}

p {
  color: darkcyan;
  text-align: left;
  font-size: 30px
}

.bg-image {
  //outline: 3px solid black;
  background-size: 100% 1000px;
  padding: 10em;
  //background-image: url("https://i.insider.com/5a45428eb0bcd5ab188b7235?width=1136&format=jpeg");
  border: 10px dotted #9a7d6f;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-position: center;
  float: center;
  text-align: center;
  //margin: 150px auto;
  background-size: 35% 

}
//.img{
  //float: center;
  //width: 10px;
  //height: 26px;
  //padding: 0 20px 0 0;

}

.text{
  text-align: left;
  
}

*{
  padding: 0;
  margin: 0;

}

.content-wrapper{
  width: center;
  margin: 0% 0% 50% 0%;
  height: 7cm

}

.content-wrapper img{
  width: 100%;
  
}

.text-wrapper{
  width: center;
  position: relative;
  margin-top: -55%;
}

.text-wrapper h1 {
  background-color: rgba(248, 247, 234, 0.589);
  color: rgb(95,55,51);
  text-align:center;
  font-size: 75px
}