:root {
  --text-color: #000;
}

.bg-image p2 {
  color: var(--text-color);
}

body{
  font-family:"Cormorant Garamond";
  color:rgb(65, 126, 218);
  background-color: rgba(244,222,208,255);
}

h2 {
  color: black;
  text-align:center;
  font-size: 50px
}

a {
  color: #5c7c74;
  text-align: center;
  font-size: 50px;
}

i2 {
  color: rgb(95,55,51);
  text-align: center;
  font-size: 60px 
}

p {
  color: rgb(95,55,51);
  text-align: left;
  font-size: 60px
}


p2{
  text-align: center;
  color: black;
  font-size: 25px
}

.bg-image {
  background-size: 100% 1000px;
  padding: 10em;
  border: 10px dotted #9a7d6f;
  border-radius: 50px;
  background-repeat: no-repeat;
  background-position: center;
  float: center;
  text-align: center;
  background-size: 35%;
}

.text{
  text-align: left;
  color: black;
  font-size: 25px
}

*{
  padding: 0;
  margin: 0;
}

.content-wrapper{
  width: center;
  margin: 0% 0% 50% 0%;
  height: 7cm

}

.content-wrapper img{
  width: 100%;
  
}

.text-wrapper{
  width: center;
  position: relative;
  margin-top: -55%;
}

.text-wrapper h1 {
  background-color: rgba(248, 247, 234, 0.589);
  color: rgb(95,55,51);
  text-align:center;
  font-size: 75px
}

form {
  color: black;
  text-align:center;
  font-size: 60px
}

img.floatLeft {
  float: left;
  margin: 4px;
  border: 10px dotted #9a7d6f;
  width: 300px
}

img.floatRight {
  float: right;
  margin: 4px;
  border: 10px dotted #5c7c74;
  width: 500px
}

img.floatCenter {
  float: left;
  margin: 4px;
  border: 10px dotted #9a7d6f;
  width: 500px
}

.radio1 {
  color: #5c7c74;
  font-size: 35px;
  //float: left;
}

.checkbox1 {
  color: #5c7c74;
  font-size: 35px;
  //float: left;
}

.here {
    text-align: center;
  color: #5c7c74;
  font-size: 25px
}
